/build
/install
/out
.vscode
.vs
/src/plugins/sa_plugin_time/build
/src/plugins/sa_plugin_time/install
/src/plugins/sa_plugin_demo/build
/src/plugins/sa_plugin_demo/install
/src/plugins/sa_plugin_services/build
/src/plugins/sa_plugin_services/install
/src/plugins/sa_plugin_strings/build
/src/plugins/sa_plugin_strings/install
/src/plugins/sa_plugin_process/install
/src/plugins/sa_plugin_process/build
/scripts/refresh.tmp.bat
/installer
/third_parties/RapidAssist
/third_parties/glog
/third_parties/glog_static_old
/third_parties/googletest
/third_parties/libmagic
/third_parties/tinyxml2
/third_parties/zlib
